body {
    background: #111;
    font-family: 'Seogoe UI', sans-serif;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
}

.preview {
    display: flex;
    justify-content: center;
}

.title {
    width: 100%;
    max-width: 500px;
    background: #000;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    position: relative;
}

.top {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.top img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

#previewTitle {
    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
}

#previewArtist {
    text-align: left;
    font-weight: 700;
    font-size: 0.9rem;
    color: #ccc;
}

.lyrics {
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.preview {
    height: 200px;
    margin: 0;
}

#tile {
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7f5af0;
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

#footer {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

#insta {
    text-decoration: none;
    color: #1db954;
}

footer {
    line-height: 7px;
}

